.admin-users-container {
  width: 95%;
  margin: 40px auto;
  padding: 24px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
}
button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}