<div class="profile-page">

  <section class="profile-hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
      <p class="hero-subtitle">Korisnički nalog</p>
      <h1>Moj profil</h1>
      <p class="hero-text">
        Pregled osnovnih informacija o vašem nalogu i ličnim podacima.
      </p>
    </div>
  </section>

  <section class="profile-content">
    <div class="profile-card">
<div class="profile-header">
  <div class="profile-avatar-wrapper">
    <div class="avatar-circle">
      <img
        *ngIf="profileImageUrl; else initials"
        [src]="profileImageUrl"
        alt="Profilna slika"
        class="profile-image"
      />

      <ng-template #initials>
        {{ profile?.username?.charAt(0) | uppercase }}
      </ng-template>
    </div>
  </div>

  <div class="profile-main">
    <div class="profile-header-top">
      <div class="profile-title">
        <p class="profile-subtitle">Korisnički nalog</p>
        <h2>Moj profil</h2>
      </div>

      <div class="profile-actions" *ngIf="canEditProfile()">
        <button class="edit-profile-btn" (click)="goToEditProfile()">
          Uredi profil
        </button>
      </div>
    </div>
  </div>
</div>

      <p *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </p>

      <div *ngIf="profile" class="profile-info">
        <div class="info-row">
          <span class="label">Korisničko ime</span>
          <span class="value">{{ profile.username }}</span>
        </div>
      <div class="info-row">
          <span class="label">Email</span>
          <span class="value role-badge">{{ profile.email }}</span>
        </div>
        <div class="info-row">
          <span class="label">Uloga</span>
          <span class="value role-badge">{{ profile.role }}</span>
        </div>
<ng-container *ngIf="profile.role !== 'ADMIN'">
        <div class="info-row">
          <span class="label">Ime</span>
          <span class="value">{{ profile.firstName || '' }}</span>
        </div>

        <div class="info-row">
          <span class="label">Prezime</span>
          <span class="value">{{ profile.lastName || '' }}</span>
        </div>

        <div class="info-row full">
          <span class="label">Biografija</span>
          <span class="value">{{ profile.biography || '' }}</span>
        </div>

        <div class="info-row full">
          <span class="label">Moto</span>
          <span class="value">{{ profile.motto || '' }}</span>
        </div>
        </ng-container>
      </div>
    </div>
  </section>

</div>