<div class="tours-page">
  <div class="top-bar">
    <span>Železnička br. 46, 21000 Novi Sad</span>
    <div class="social-links">
      <span>Facebook</span>
      <span>Email</span>
      <span>Twitter</span>
    </div>
  </div>

  <nav class="navbar">
    <div class="logo">MyApp</div>

    <div class="nav-links">
      <a routerLink="/">Početna</a>
      <a href="#">O nama</a>
      <a routerLink="/tours" class="active">Ture</a>
      <a href="#">Kontakt</a>
    </div>
  </nav>

  <div class="hero-slider">
    <div
      class="slide"
      *ngFor="let image of heroImages; let i = index"
      [class.active]="i === currentSlide"
      [style.backgroundImage]="'url(' + image + ')'"
    >
      <div class="overlay"></div>

      <div class="hero-content">
        <h1>{{ isTourist() ? 'Dostupne ture' : 'Moje ture' }}</h1>
        <p>
          {{
            isTourist()
              ? 'Pregled objavljenih tura dostupnih turistima.'
              : 'Pregled tura koje ste kreirali i njihovog trenutnog statusa.'
          }}
        </p>
      </div>
    </div>
  </div>

  <div class="tours-header">
    <div>
      <h2>{{ isTourist() ? 'Dostupne ture' : 'Vaše ture' }}</h2>
      <p>
        {{
          isTourist()
            ? 'Istražite objavljene ture i pogledajte osnovne informacije.'
            : 'Ovde možete pregledati, objaviti, arhivirati i ponovo aktivirati ture.'
        }}
      </p>
    </div>

    <button *ngIf="isTourist()" (click)="goToLocationSimulator()" class="create-btn">
      Simulator pozicije
    </button>

    <button *ngIf="isTourist()" routerLink="/shopping-cart" class="create-btn">
  Moja korpa
</button>

    <button *ngIf="!isTourist()" (click)="goToCreateTour()" class="create-btn">
      + Kreiraj turu
    </button>
  </div>

  <p *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </p>

  <p *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </p>

  <div *ngIf="tours.length === 0" class="empty-state">
    Nema dostupnih tura.
  </div>

  <div class="tours-grid" *ngIf="tours.length > 0">
    <div class="tour-card" *ngFor="let tour of tours" [routerLink]="['/tours', tour.id]">
      <div class="tour-icon">
        {{ getTourIcon(tour.difficulty) }}
      </div>

      <div class="status-wrapper">
        <span class="status-badge" [ngClass]="tour.status?.toLowerCase()">
          {{ getStatusLabel(tour.status) }}
        </span>
      </div>

      <h2>{{ tour.name }}</h2>

      <p class="description">
        {{ tour.description }}
      </p>

      <div class="info">
        <span><b>Težina:</b> {{ tour.difficulty }}</span>
        <span><b>Cena:</b> {{ tour.price }} RSD</span>
      </div>

      <div class="tour-extra-info">
        <p>
          <b>Dužina ture:</b>
          {{ tour.distanceInKm ? (tour.distanceInKm | number:'1.1-2') : 0 }} km
        </p>

        <p *ngIf="tour.publishedAt">
          <b>Objavljena:</b> {{ tour.publishedAt | date:'dd.MM.yyyy. HH:mm' }}
        </p>

        <p *ngIf="tour.archivedAt">
          <b>Arhivirana:</b> {{ tour.archivedAt | date:'dd.MM.yyyy. HH:mm' }}
        </p>
      </div>

      <div class="transport-times" *ngIf="tour.transportTimes && tour.transportTimes.length > 0">
        <span *ngFor="let time of tour.transportTimes">
          {{ getTransportLabel(time.transportType) }}: {{ time.durationMinutes }} min
        </span>
      </div>

      <div class="transport-times empty-transport" *ngIf="!tour.transportTimes || tour.transportTimes.length === 0">
        <span>Nema uneto vreme obilaska</span>
      </div>

      <div class="tags" *ngIf="tour.tags && tour.tags.length > 0">
        <span *ngFor="let tag of tour.tags" class="tag">
          {{ tag }}
        </span>
      </div>

      <button
        *ngIf="!isTourist()"
        class="details-btn"
        [routerLink]="['/tours', tour.id, 'key-points']"
        (click)="$event.stopPropagation()"
      >
        Dodaj ključne tačke
      </button>

      <button
  *ngIf="isTourist()"
  class="details-btn"
  (click)="addToCart(tour.id, $event)"
>
  Dodaj u korpu
</button>

      <div *ngIf="!isTourist()" class="lifecycle-actions">
        <button
          *ngIf="tour.status === 'DRAFT'"
          class="publish-btn"
          (click)="publishTour(tour.id, $event)"
        >
          Objavi
        </button>

        <button
          *ngIf="tour.status === 'PUBLISHED'"
          class="archive-btn"
          (click)="archiveTour(tour.id, $event)"
        >
          Arhiviraj
        </button>

        <button
          *ngIf="tour.status === 'ARCHIVED'"
          class="reactivate-btn"
          (click)="reactivateTour(tour.id, $event)"
        >
          Ponovo aktiviraj
        </button>
      </div>
    </div>
  </div>
</div>
